<section class="imagescontent">
  <div class="imagesbox"></div>
  <button class="createdropdown">Upload Image</button>
  <form class="createimage">
    <input type="file" class="uploadfile">
    <textarea class="imagemessage" cols="70" rows="5"></textarea>
    <input type="submit" value="Send">
  </form>
</section>
